body {
  background-color: #555;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

#wrapper{
  background-color: #FFF;
  padding: 10px;
  clear : both;
  border: solid 1px black;
  margin : 10px 0;
}

#user_nav{
  text-align: right;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

table{
	border-collapse: collapse;
}
table td,table th{
	border: 1px solid #EEE;
	padding: 5px;
}

#user_nav a:link,
#user_nav a:visited,
#user_nav a:hover,
#user_nav a:active{
	color: #888;
	text-decoration: none;
	background: #444;
	padding:2px 5px;
	border:1px dotted #AAA;
}

#user_nav a:hover,
#user_nav a:active{
	color: #FFF;
	text-decoration: none;
    background: #888;
}

h1{
	font-size: 19px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 17px;
}

#menu_list{
	list-style: none;
	padding: 0;
	padding: 2px 10px 0px 10px;
	overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
	border-bottom: 1px solid #999;
}

#menu_list li{
	background: orange;
	margin: 0 2px 0 0;
	padding: 0 0;
	float: right;
}

#menu_list a:link,
#menu_list a:visited,
#menu_list a:hover,
#menu_list a:active{
	color: #842;
	text-decoration: none;
	background: #C85;
	padding:2px 5px;
}

#menu_list a:hover,
#menu_list a:active{
	color: #FFF;
	text-decoration: none;
    background: #888;
}

#tabs{
	
}

#body{
	overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10px 0;
}

#left_column{
	background: pink;
	width: 200px;
    float: left;
    min-height: 300px;
}

#right_column{
	background: lightgreen;
	width: 550px;
	float: right;
    min-height: 300px;
    padding: 0 10px;
}

