<% content_for :left_menu do %>
    <ul>
			<li><a href='#'>link 1</li>
			<li><a href='#'>link 2</li>
			<li><a href='#'>link 3</li>
			<li><a href='#'>link 4</li>	
	 </ul>
<% end %>

<h1>Hello!</h1> <a href="#">Hi!</a>